@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --color-dark:#0B0F19 ;
    --color-gray-600: #9397AD;
    --color-gray-300:#E2E5F1;
    --color-diffrentgray: #585C7B;
    --color-lightergrey: #B4B7C9;
    --color-gray-700: #565973;


    --color-primary:#6366F1;
    --color-yellow: #FFBA08;
    --color-carousel:#F1F6D9;
    --color-white: #FFFFFF;

    
    --container-padding: 1rem;
    --transition-time: all 0.2s;

    --section-spacing: 4rem;

    --br-m: 0.375em;
    --br-l: 0.5em;

    /* Normal / Regular: 400
    Medium: 500
    Semibold: 600
    Bold: 700
    Extra Bold: 800*/
    

}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color:rgb(0 , 0, 0, 0);
}


body, section, div, header, footer, main, aside, nav, blockquote, p, span{
    margin: 0;
    padding: 0;
}


body{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.space-y-1 > * + * {
    margin-top: 1rem;
}

.space-y-2 > * + * {
    margin-top: 2rem;
}

.space-y-3 > * + * {
    margin-top: 3rem;
}

.space-y-4 > * + * {
    margin-top: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    color: var(--clr-text-heading);
    font-weight: 800;
    line-height: 1.3;
}

.d4{
    font-size: 3.5rem;
}
.h1{
    font-size: 2.5rem;
    color: var(--clr-text-heading);
    font-weight: 800;
}

.h4{
    font-size: 1.5rem;
    color: var(--clr-text-heading);
    font-weight: 800;
}

.h5{
    font-size: 1.25rem;
    color: var(--clr-text-heading);
    font-weight: 800;
}

.h6{
    font-size: 1rem;
    font-weight: 800;
}

.text-lg{
    font-size: 1.125rem;
}

.text-s{
    font-size: 0.875rem;
}

.text-m{
    font-size: 0.888rem;
}

.container{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;

}

a{
    color: var(--color-primary);
    text-decoration: none;
}

a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}


.btn-primary{
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-primary:hover{
    background-color: var(--color-gray-600);
    color: var(--color-white);
    text-decoration: none;
}

.btn-primary i {
    margin-right: 0.5rem;
}

.btn-download-app{
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 8px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-download-app:hover{
    background-color: var(--color-gray-600);
    color: var(--color-white);
    text-decoration: none;
}

.btn-mobile{
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.btn-cirle {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--color-border-gray);
    background-color: var(--color-white);
    color: var(--color-dark);
}



.btn-toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Gör dark mode onsylig för mobil version */
.btn-toggle-switch .label {
    display: none;
    
}



.toggle-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-yellow);
}


.toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px var(--color-yellow);
}


.toggle-switch input:checked + .slider:before {
    transform: translateX(18px);
    background-color: var(--color-white);
}

.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray-600);
    transition: all 0.2s;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: var(--color-white);
    transition: all 0.2s;
}

.toggle-switch .slider.round{
    border-radius: 35px;

}

.toggle-switch .slider.round:before {
    border-radius: 50%
}

.navbar {
    display: none;
}


.nav-link {
    color: var(--color-dark);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover{
    color: var(--color-primary);
    text-decoration: underline;
    
}

.active {
    color: var(--color-primary);
    text-decoration: underline;
}

#auth-signin {
    display: none;
}

header .container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto auto;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    font-size: 14px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--color-gray-600);
 
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
         
    .credit {
        display: none;
         
    }
}

#brands{
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

}

.brand-box{
    border: 1px solid var(--color-gray-300);
    border-radius: 8px; /*Hur runda hörn*/
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }

    .btn-toggle-switch .label {
        display: block;
        
    }

    header .container {
        gap: 3rem;
        
    }

    footer {
        .credit {
            display: block;
             
        }
     
    }

    #brands{
        display: block;
    }

    #brand5, #brand6 {
        display: none;
    }


}


@media (min-width: 1400px){
    .container{
        max-width: 1320px;
    }

    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 3rem;
        
    }
    .navbar {
        display: block;
    } 


    #auth-signin {
        display: block;
    }

    .btn-mobile{
        display: none;
    }

    #brand5, #brand6 {
        display: flex;
    }

}

#hero {
    background: rgb(241,246,217);
    background: linear-gradient(0deg, rgba(241,246,217,0.9220063025210083) 14%, rgba(225,237,120,0.48503151260504207) 42%, rgba(0,212,255,0) 83%);
    padding-bottom: 2rem;

    @media (min-width: 768px){
        padding-bottom: 0rem;
    }

    p{
        color: var(--color-gray-700);
    }

    .container{
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-areas:  "headline" "content";
        
        

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:  "headline headline"
                                    "content images";
                                   
        }

        @media (min-width: 1400px) {
            grid-template-columns: 2fr 3fr;
            grid-template-areas:    "headline images"
                                    "content images";
                                   
        }

    }
    

    .headline {
        grid-area: headline;
        text-align: center;
        
        

        h1{
           font-size: 34px;
           font-weight: 800;
           

           @media (min-width: 768px){
             font-size: 56px;   
            }

            @media (min-width: 1400px){
              text-align: left;
              padding-top: 5rem;          
            }

        }   
    }

    .content{
        grid-area: content;
        text-align: center;

        @media (min-width: 768px){
            text-align: left;
        }

        p{
            font-size: 18px;
            margin-bottom: 3rem;

            @media(min-width: 1400px){
                margin-top: -10rem;
            }

        }

        .buttons {
            display: flex; 
            flex-direction: column;
            gap: 1rem;
            

            @media(min-width: 1400px){
                flex-direction: row;
            }
        }

        .discover-more{
            color: var(--color-dark);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 1rem;
            

            @media(min-width: 768px){
                justify-content: flex-start;
                margin-bottom: 2rem;
            }

            @media(min-width: 1400px){
                margin-top: 10rem;
                 
            }
    
        }

    }

    
    .images{
        grid-area: images;
        position: relative;
        display: none;

        @media (min-width: 768px){
            display: block; 
        }

        .phone-img-container{
            bottom: 0;
            right: 0; 
            width: 150%; 
            z-index: -5;

            @media (min-width: 1400px){
                width: auto;
                padding-top: 5rem;
                
            }
            
        }
        

    }
 
}

.features{
    text-align: center;
    padding-block: var(--section-spacing);
    
    
    
    .iphone {
        display: none;
    }
    
    .features-grid{
        display: grid;
        gap: 2rem;
        margin-top: 3rem;
        margin-left: -1rem;
    
    }
    .text-lg{
        color: var(--color-gray-600);
    }
    
    p{
        color: var(--color-gray-700);
    }
    
    .features-card{
        display: flex;
        text-align: start;
        gap: 0.5rem;
        align-items: flex-start;
    }
    
    .icon-container{
        padding: 1rem;
        border-radius: var(--br-1);
        flex-shrink: 0; /* För att det inte ska minskas i bild storlek*/
    }
    
    @media (width > 768px){
        .features-grid{
            grid-template-columns: repeat(2,1fr);
            gap: 2rem 3rem;
        
        }
    }
    
    @media (width > 1200px){
        text-align: start;
        .container{
            display: flex;
            gap: 4rem;
        }
        .iphone{
            display: block;
        }
        .text{
            flex: 1;
        }  
    }
    
    @media (width > 1400px){
        .container{
            gap: 10rem;
        }
        
    }
    
    
}

.carousel-section{
    padding-block: var(--section-spacing);
    background-color: var(--color-carousel);
    text-align: center;

    .carousel{
        display: flex;
        justify-content: space-evenly;

    }
    .text{
        max-width: 60ch;
        margin-inline: auto;
    }
    
    p{
        color: var(--color-gray-700);
    }
    

    @media(width < 768px){
        .carousel-item:first-of-type,
        .carousel-item:last-of-type {
        display: none;
        }
    }

}

.transfer{
    margin-top: 4rem;
    margin-bottom: 4rem;
    
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Två kolumner: vänster och höger */
        grid-template-rows: 1fr 1fr; /* Två rader: top och botten */
        gap: 10px; /* Mellanrum mellan grid-delarna */
    }
    
    .text1 {
        grid-column: 1 / 2; /* Placera på vänster sida, top */
        grid-row: 1 / 2;
        padding: 3rem;   
    }

    .icon-container{
        padding: 0.5rem;
    }
   
    .transfer-mobile {
        grid-column: 2 / 3; /* Placera på höger sida, top */
        grid-row: 1 / 2;
        text-align: right;
    }
    
    .text2 {
        grid-column: 2 / 3; /* Placera på vänster sida, botten */
        grid-row: 2 / 3;
        padding: 2rem
    }
    
    .contacts-mobile {
        grid-column: 1 / 2; /* Placera på höger sida, botten */
        grid-row: 2 / 3;
        text-align: right;
        margin-right: 3rem;
    }

    p{
        color: var(--color-gray-700)
    }

    .icon-container{
        margin-left: -0.5rem;
    }
    
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .transfer-card, .payment-card-flex {
        display: flex;
        align-items: center;
    }

    .payment-card-flex{
        gap: 1rem;
        margin-bottom: 1rem;
    }
    
    .payment img{
        width: 40px;

    }
    .buttons {
        margin-top: 30px;
        font-weight: 700;
        font-size: 3rem;
    }

    .contacts-mobile img, 
    .transfer-mobile img{
        width: 490px;
    }

    

}

#comments { 
    padding-top: 40px;
    padding-bottom: 40px;
   
    .comments-flex {
        display: flex;
        justify-content: center; 
    }

    .headline{
       margin-right: 210px;
       margin-top: -50px;
       max-width: 40ch 
    }
    
    .review1,
    .review2 {
        position: relative;
        width: 100%; 
        max-width: 350px; 
    }
    
    .review1 img,
    .review2 img {
        width: 100%; 
        height: auto; 
    }

    .quotes {        
        position: absolute;
        top: -5%;
        left: 10px;
        width: 50px; /* Justera storlek på citattecknen */
        height: auto;
    }
}

#faq {
    padding: 3rem;
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;  /* Två kolumner */
        grid-template-rows: auto auto auto; /* Tre rader */
        grid-template-areas: 
            "faq-question faq-container"  /* Första raden: FAQ-frågor och container */
            "faq-question faq-container"  /* Andra raden: FAQ-frågor och container */
            "box box"; /* Tredje raden: boxen tar upp hela bredden */
        gap: 2rem; 
    }

    h2{
        margin-top: -3px;
        max-width: 20ch /* Ändrar hur texten ska ligga*/
    }

    .faq-question {
        grid-area: faq-question;
    }
    
    .faq-container {
        grid-area: faq-container;
        display: grid;
        gap: 1rem; 
        padding-bottom: 3.5rem;
    }
    
    .sub-image {
        grid-area: sub-image;
        width: 100%; /* Bilden sträcker sig 100% */
    }
    
    .sub-image img {
        margin-top: 60px;
        width: 100%;
        
    }
    
    .questions-options {
        display: flex;
        gap: 1rem; 
        margin-top: 1rem; 
        justify-content: flex-start; 
    }
    
    .faq-section-box {
        padding: 1rem 0; /* Utrymme runt varje FAQ-box */
        border-bottom: 1px solid #ddd; /* Linje mellan posterna */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        border-radius: 5px; /* Valfritt: rundade hörn */
        background-color: #fff; 
        
    }
    
    .faq-header {
        display: flex;
        justify-content: space-between; /* Rubrik till vänster och ikon till höger */
        align-items: center; 
        margin: 0 1rem; 
    }
    
    .faq-header .headline {
        flex-grow: 1; /* Rubriken tar upp så mycket utrymme som möjligt */
    }
   
    .faq-header .icon-purple{
        width: 50px;
        height: 50px;
    }

    .faq-header .icon-arro img{
        width: 30px; 
        height: auto;
    }  

    .question-p{
        color: var(--color-gray-700);
        padding-bottom: 20px;
        padding-top: 10px;
        max-width: 43ch /* Ändrar hur texten ska ligga*/
        
    }
    
    .faq-text{
        color: var(--color-gray-700);
        margin: 0 1rem; /* Marginal på vänster och höger sida */
    }



    .box {
        grid-area: box;
        max-width: 100%;
        width: 1300px;
        margin: 0 auto;
        padding-top: 3rem;
        background-color: #F3F6FF;
        border: 1px solid #F3F6FF;
        height: 160px;
        position: relative; /* För att kunna positionera input-box inuti */
        border-radius: .5em .5em;
    }

    .not{
        position: absolute;
        width: 110px;
        top: 10px;
        left: 190px;
    }
    .minih4{
        position: absolute;
        top: 10px;
        left: 300px;
        max-width: 50ch;
    }

    .input-group{
        position: absolute;
        top: -10px;
        left: 830px;

    }

    .btn{
        background-color: #6366F1;
        color: #fff;
        padding: .8em 2em;
        border: 0;
        font-size: 1rem;

        border-radius: .5em;
    }
    
    .form-input{
        border: 1px solid #747474;
        font-size: 1rem;
        padding: .3em;

        border-radius: .5em;
    }

    .input-group{
        display: flex;

        .form-input{
            border-radius: .5em 0 0 .5em;
        }
        
        .btn{
            border-radius: 0 .5em .5em 0;
        }
    }

    .input-group{
        position: relative;
    }

    .icon{
        position: absolute;
        top: 50%;
        left: .5rem;

        transform: translateY(-50%);
    }

    .email{
        padding-left: 3rem;
    }
  
}

#newhero .container {
    
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 1rem;

    

    .logo,
    .main-menu{
        margin-right: auto; 
    }

    .navbar {
        display: flex; 
    }

    .btn-toggle-switch,
    .btn-primary {
    margin-left: auto; 
    }

    .btn-toggle-switch {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .btn-primary {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 8px;
        padding: 12px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-left: 10px; 
    }


    .btn-primary:hover {
        background-color: var(--color-gray-600);
        color: var(--color-white);
        text-decoration: none;
    }
    
    .btn-primary i {
        margin-right: 0.5rem;
    }
    
    .nav-link {
        color: var(--color-dark);
        font-weight: 600;
        text-decoration: none;
    }
    
    .nav-link:hover {
        color: var(--color-primary);
        text-decoration: underline;
    }
}


#newhero2 {

    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto 1fr; 
    grid-template-areas: 
        "headline headline"
        "content consultation";
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;


    .headline {
        grid-area: headline;
        margin-top: -1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .content{
        margin-top: -1rem;
    }


   
    .contact-flex{
        display: flex;
        text-align: start;
        align-items: flex-start;
        gap: 0rem; 
        margin-left: -2rem;
    }
    
    .icon-container{
        padding: 1.5rem;
        border-radius: var(--br-1);
        flex-shrink: 0; 
        margin-right: 0; 
    }

    .icon-container img{
        width: 60px;
        height: 60px;
    }

    .message-container {
        display: flex;
        align-items: center; 
        gap: 0.5rem; 
    }
    
    .text-s {
        color: var(--color-gray-600);
    }
    
    .text-m {
        color: var(--color-gray-700);
        margin-top: -1.5rem;
        max-width: 36ch /* Ändrar hur texten ska ligga*/
    }

    .p-extra {
        font-size: 1rem;
        font-weight: 600; 
        color: var(--color-primary)
    }

    .h1{
        margin-bottom: 2rem;
    }

    .text1{
        font-size: 1rem;
        font-weight: 600; /*Semibold*/
    }

    .consultation {
        grid-area: consultation;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 4rem;
        border: 1px solid var(--color-gray-300);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    }

    

    .comment-form{
        flex: 1; /* Låter input-fältet ta upp så mycket utrymme som möjligt */
        margin-top: -1rem;
        display: flex;
        gap: 1rem;
        position: relative; 
    }

    .comment-input{
      flex: 1;
      padding: .5em;
      font-size: 1rem; 
      border: 1px solid #9397AD;
      border-radius: .5em;
    }

    .spec{
        position: relative;
        display: flex;
        align-items: center;
    }

    .btn-round {
        position: absolute;
        top: 50%;
        right: 0.5rem; 
        top: 1.2rem;
        transform: translateY(-50%);
        background-color: transparent; /* Gör bakgrunden helt transparent */
        border: 0;
        width: 30px;
        aspect-ratio: 1;
        border-radius: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
    }



    .btn-appointment{
        font-size: 16px;
        margin-top: 9rem;
        padding: .7em 4em;
        border: 0;
        background-color:#6366F1;
        color: #FFF;
        border-radius: .5em;
        /*text-transform: uppercase;*/
        font-weight: 600;    
    }


    .btn-appointment:hover{
        background-color: var(--color-gray-600);
        color: var(--color-white);
        text-decoration: none;
        
    }

}

#mapsection{

    
    .container {
        display: flex;
        justify-content: center; 
        align-items: center; /* Vertikal centrering */
        margin-top: 10rem;
        gap: 10rem;
        margin-bottom: 20rem;
    }

    .mappic{
        margin-right: 10rem;
    }

    .mappic img{
        width: 110%;
        height: auto;
        border-radius: 1%;
    }

    
    .map-grid {
        margin-top: -2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .h4{
        margin-bottom: 1rem;
    }
    
    .flex {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }

    .bold-text {
        font-weight: bold;
    }
    

    
    .icon-container {
        width: 30px;
        flex-shrink: 0;
    }

   
    .text-m {
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: var(--color-gray-700);
    }

    .icon-cards{
        padding-top: 2rem;
    }
        
 
}



